<div class="container-fluid bg-light px-5 py-1 min-vh-100 text-size">
  <div class="px-5">
    <div class="card gap-1 p-3 border border-0">
      <!-- CABECERA -->
      <div class="row px-3">
        <div
          class="col-11 bg-primary text-white text-uppercase rounded-1 align-items-center px-3"
        >
          4. Estudiantes con necesidades educativas específicas
          <i class="bi bi-info-circle mx-3 fs-5"></i>
        </div>
        <div class="col-1 justify-content-center">
          <i
            class="bi bi-chat-dots mx-3 fs-4 text-secondary text-opacity-25"
          ></i>
        </div>
      </div>
      <!-- CUERPO -->
      <div *ngFor="let item of [1, 2]" class="row px-3">
        <div class="col-11">
          <!-- SUBTITULO -->
          <div class="row">
            <div class="col-4 px-1 ps-0">
              <div class="card px-3 py-2">
                <span
                  ><strong>Estudiante NEE: </strong>Altamirano tapia
                  Andrea</span
                >
              </div>
            </div>
            <div class="col-4 px-1">
              <div class="card px-3 py-2">
                <span><strong>Grado de adaptación: </strong>Grado 1</span>
              </div>
            </div>
            <div class="col-4 px-1 pe-0">
              <div class="card px-3 py-2">
                <span
                  ><strong>NEE: </strong>Dificultades de aprendizaje:
                  Disléxica</span
                >
              </div>
            </div>
          </div>
          <!-- TARJETAS -->
          <div class="row py-1">
            <div class="col-3 px-1 ps-0">
              <div class="bg-primary bg-opacity-10 py-2 px-3 max-size-height">
                <span
                  class="justify-content-center align-items-center fw-bold d-flex"
                >
                  Destrezas con ciertos criterios de desempeño
                  <i class="bi bi-info-circle mx-3 fs-5 text-primary"></i
                ></span>
              </div>
              <div class="card mt-1">
                <div class="max-height-cards">
                  <div class="row m-0 py-2 px-3">
                    <span class="p-0">
                      Reconocer y diferenciar triángulos sus elementos a partir
                      del análisis de sus características, y determinar el
                      Perímetro por estimación y/o medición.
                      <strong>M.2.2.6.</strong>
                    </span>
                    <div class="container-fluid align-content-end p-0">
                      <div class="d-flex py-3">
                        <img
                          src="https://ivistorage.blob.core.windows.net/file-container/c1.png"
                          width="35"
                          height="35"
                        />
                        <img
                          src="https://ivistorage.blob.core.windows.net/file-container/c2.png"
                          width="35"
                          height="35"
                          class="ps-1"
                        />
                        <img
                          src="https://ivistorage.blob.core.windows.net/file-container/c3.png"
                          width="35"
                          height="35"
                          class="ps-1 d-none"
                        />
                        <img
                          src="https://ivistorage.blob.core.windows.net/file-container/c4.png"
                          width="35"
                          height="35"
                          class="ps-1 d-none"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-3 px-1">
              <div class="bg-primary bg-opacity-10 py-2 px-3 max-size-height">
                <span
                  class="justify-content-center align-items-center fw-bold d-flex"
                >
                  Indicadores de evaluación
                  <i class="bi bi-info-circle mx-3 fs-5 text-primary"></i
                ></span>
              </div>
              <div class="card mt-1">
                <div class="max-height-cards">
                  <div class="row m-0 py-2 px-3">
                    <span class="p-0">
                      Identifica elementos básicos de la Geometría en cuerpos y
                      figuras geométricas. <strong>(1.2., S.2.)</strong>
                    </span>
                    <div class="container-fluid align-content-end p-0">
                      <div class="d-flex py-3">
                        <img
                          src="https://ivistorage.blob.core.windows.net/file-container/c1.png"
                          width="35"
                          height="35"
                        />
                        <img
                          src="https://ivistorage.blob.core.windows.net/file-container/c2.png"
                          width="35"
                          height="35"
                          class="ps-1"
                        />
                        <img
                          src="https://ivistorage.blob.core.windows.net/file-container/c3.png"
                          width="35"
                          height="35"
                          class="ps-1"
                        />
                        <img
                          src="https://ivistorage.blob.core.windows.net/file-container/c4.png"
                          width="35"
                          height="35"
                          class="ps-1"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-3 px-1">
              <div class="bg-primary bg-opacity-10 py-2 px-3 max-size-height">
                <span
                  class="justify-content-center align-items-center fw-bold d-flex"
                >
                  Estrategias metódicas activas para la enseñanza y aprendizaje
                  <i class="bi bi-info-circle mx-3 fs-5 text-primary"></i
                ></span>
              </div>
              <div class="card mt-1">
                <div class="max-height-cards">
                  <div class="row m-0 py-2 px-3">
                    <span class="p-0 fw-bold"> Construcción </span>
                    <span class="p-0">
                      Plantear otros ejemplos y responder preguntas para
                      descubrir el patrón que forma cada secuencia.</span
                    >
                    <div class="container-fluid align-content-end p-0 d-none">
                      <div class="d-flex py-3">
                        <img
                          src="https://ivistorage.blob.core.windows.net/file-container/c1.png"
                          width="35"
                          height="35"
                        />
                        <img
                          src="https://ivistorage.blob.core.windows.net/file-container/c2.png"
                          width="35"
                          height="35"
                          class="ps-1"
                        />
                        <img
                          src="https://ivistorage.blob.core.windows.net/file-container/c3.png"
                          width="35"
                          height="35"
                          class="ps-1"
                        />
                        <img
                          src="https://ivistorage.blob.core.windows.net/file-container/c4.png"
                          width="35"
                          height="35"
                          class="ps-1"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-3 px-1">
              <div class="bg-primary bg-opacity-10 py-2 px-3 max-size-height">
                <span
                  class="justify-content-center align-items-center fw-bold d-flex"
                >
                  Actividades evaluativas
                  <i class="bi bi-info-circle mx-3 fs-5 text-primary"></i
                ></span>
              </div>
              <div class="card mt-1">
                <div class="max-height-cards">
                  <div class="row m-0 py-2 px-3">
                    <span class="p-0 fw-bold">
                      Técnica Observación/Rubrica
                    </span>
                    <span class="p-0">
                      La presentación de la parte de Matemática tiene un
                      promedio de 10.00 pt
                    </span>
                    <div class="container-fluid p-0 d-none">
                      <div class="d-flex py-3">
                        <img
                          src="https://ivistorage.blob.core.windows.net/file-container/c1.png"
                          width="35"
                          height="35"
                        />
                        <img
                          src="https://ivistorage.blob.core.windows.net/file-container/c2.png"
                          width="35"
                          height="35"
                          class="ps-1"
                        />
                        <img
                          src="https://ivistorage.blob.core.windows.net/file-container/c3.png"
                          width="35"
                          height="35"
                          class="ps-1"
                        />
                        <img
                          src="https://ivistorage.blob.core.windows.net/file-container/c4.png"
                          width="35"
                          height="35"
                          class="ps-1"
                        />
                      </div>
                    </div>
                    <div class="py-3 px-0 container-fluid">
                      <div class="pb-1">
                        <div class="d-flex bg-secondary bg-opacity-10">
                          <div
                            class="col-1 px-1 py-0 bg-primary rounded-1 align-items-center d-flex"
                          >
                            <i class="bi bi-file-earmark text-light"></i>
                          </div>
                          <div class="col-10 p-0 ps-1">
                            <a href=""> Archivo adjun...</a>
                          </div>
                          <div class="col-1 p-0">
                            <button
                              type="button"
                              class="btn btn-light px-1 py-0 rounded-1 border"
                            >
                              <i class="bi bi-download"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                      <div class="pb-1">
                        <div class="d-flex bg-secondary bg-opacity-10">
                          <div
                            class="col-1 px-1 py-0 bg-primary rounded-1 align-items-center d-flex"
                          >
                            <i class="bi bi-file-earmark text-light"></i>
                          </div>
                          <div class="col-10 p-0 ps-1">
                            <a href=""> Archivo adjun...</a>
                          </div>
                          <div class="col-1 p-0">
                            <button
                              type="button"
                              class="btn btn-light px-1 py-0 rounded-1 border"
                            >
                              <i class="bi bi-download"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- BOTONES DERECHOS -->
        <div class="col-1">
          <div
            class="row flex-column justify-content-center align-items-center h-100 gap-2"
          >
            <div>
              <button type="button" class="btn btn-light py-0 px-1 rounded-1">
                <i class="bi bi-pencil-square fs-5"></i>
              </button>
            </div>
            <div>
              <button type="button" class="btn btn-light py-0 px-1 rounded-1">
                <i class="bi bi-trash fs-5"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- PIE DE PÁGINA -->
      <div class="gap-2 pt-4">
        <button
          type="button"
          class="btn btn-outline-primary fw-bold"
          data-bs-toggle="modal"
          href="#modalAñadir"
          role="button"
        >
          <i class="bi bi-plus"></i>Añadir Nuevo
        </button>
      </div>
    </div>
  </div>
</div>

<!-- MODAL -->
<div
  class="modal fade modal-xl"
  id="modalAñadir"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content modal-height">
      <!-- CABECERA -->
      <div class="modal-header bg-primary text-white">
        <h5 class="modal-title" id="staticBackdropLabel">
          Estudiantes con necesidades educativas específicas (NEE)
        </h5>
        <button
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <!-- CUERPO -->
      <div class="modal-body">
        <ul class="nav nav-pills" id="myTab" role="tablist">
          <!-- BOTONES -->
          <li class="nav-item" role="presentation">
            <button
              class="nav-link active fw-bold border border-bottom-0 rounded-0 rounded-top"
              id="nee-tab"
              data-bs-toggle="tab"
              data-bs-target="#nee"
              type="button"
              role="tab"
              aria-controls="nee"
              aria-selected="true"
            >
              Estudiantes con NEE
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link fw-bold border border-bottom-0 rounded-0 rounded-top"
              id="destrezas-tab"
              data-bs-toggle="tab"
              data-bs-target="#destrezas"
              type="button"
              role="tab"
              aria-controls="destrezas"
              aria-selected="false"
            >
              Destrezas
            </button>
          </li>
          <li class="nav-item d-none" role="presentation">
            <button
              class="nav-link fw-bold border border-bottom-0 rounded-0 rounded-top"
              id="indicadores-tab"
              data-bs-toggle="tab"
              data-bs-target="#indicadores"
              type="button"
              role="tab"
              aria-controls="indicadores"
              aria-selected="false"
            >
              Indicadores
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link fw-bold border border-bottom-0 rounded-0 rounded-top"
              id="estrategias-tab"
              data-bs-toggle="tab"
              data-bs-target="#estrategias"
              type="button"
              role="tab"
              aria-controls="estrategias"
              aria-selected="false"
            >
              Estrategias
            </button>
          </li>
          <li class="nav-item d-none" role="presentation">
            <button
              class="nav-link fw-bold border border-bottom-0 rounded-0 rounded-top"
              id="actividades-tab"
              data-bs-toggle="tab"
              data-bs-target="#actividades"
              type="button"
              role="tab"
              aria-controls="actividades"
              aria-selected="false"
            >
              Actividades
            </button>
          </li>
        </ul>
        <!-- PAGINAS -->
        <div class="tab-content py-4" id="myTabContent">
          <div
            class="tab-pane fade show active"
            id="nee"
            role="tabpanel"
            aria-labelledby="nee-tab"
          >
            <app-estudiantes-nee></app-estudiantes-nee>
          </div>
          <div
            class="tab-pane fade"
            id="destrezas"
            role="tabpanel"
            aria-labelledby="destrezas-tab"
          >
            <app-destrezas></app-destrezas>
          </div>
          <div
            class="tab-pane fade"
            id="indicadores"
            role="tabpanel"
            aria-labelledby="indicadores-tab"
          >
            indicadores
          </div>
          <div
            class="tab-pane fade"
            id="estrategias"
            role="tabpanel"
            aria-labelledby="estrategias-tab"
          >
            <app-estrategias></app-estrategias>
          </div>
          <div
            class="tab-pane fade"
            id="actividades"
            role="tabpanel"
            aria-labelledby="actividades-tab"
          >
            actividades
          </div>
        </div>
      </div>
      <!-- PIE DE PAGINA -->
      <div class="modal-footer bg-light">
        <button type="button" class="btn btn-primary">Guardar</button>
      </div>
    </div>
  </div>
</div>
