<div class="row p-3 pt-0">
  <div class="py-2 pt-0">
    <span class="p-0">Estudiantes con necesidades educativas específicas</span>
  </div>
  <!-- BÚSQUEDA -->
  <div class="row">
    <div class="col-12">
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          placeholder="Selecciona a un estudiante en la lista..."
          aria-label="Text input with dropdown button"
        />
        <button
          class="btn btn-outline-secondary"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <i class="bi-chevron-expand"></i>
        </button>
        <ul class="col-12 dropdown-menu dropdown-menu-end">
          <li
            *ngFor="let item of listaEstudiantesNee"
            class="p-1 list-group-item list-group-item-action"
          >
            <a
              class="dropdown-item text-wrap"
              (click)="agregarEstudianteNee(item)"
            >
              {{ item.nombreestudiante }}
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- INFORMACIÓN DE UN ESTUDIANTE -->
    <div
      class="rounded border-0 py-3 mb-3"
      *ngFor="let item of vistaListaEstudiantesNee"
    >
      <div>
        <div class="align-items-center">
          <div class="col-12 border px-4 py-2">
            <span class="p-0">
              <strong>Especificación de la NEE: </strong
              >{{ item.nombreestudiante }}</span
            >
          </div>
          <div class="col-12 border px-4 py-2">
            <span class="p-0"
              ><strong> Grado de adaptación:</strong>
              {{ item.gradoadaptacioncurricular1 }}</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
